{% extends "base.html" %}
{% block content %}
    <form action="/generate" method="post">
        <button type="submit">Generate Music</button>
    </form>
    <table>
        {% for song in songs %}
            <tr>
                <td>
                    <p>Song {{ loop.index }}<br> <em>Created {{ times[loop.index-1] }}</em></p>
                </td>
                <td>
                    <form action="/midi_dl" method="post">
                        <input type="hidden" name="filename" id="filename" value="{{ song }}">
                        <button type="submit">Download Midi</button>
                    </form>
                </td>
                <td>
                    <form action="/sheet_dl" method="post">
                        <input type="hidden" name="filename" id="filename" value="{{ song }}">
                        <button type="submit">Download Sheet Music</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="/logout">Logout</a></p>
{% endblock %}